body
{
    background-color: darkolivegreen;
}
.box1
{
    color: sandybrown;
    font-size: 150px
}
.ready1
{
    color: sandybrown;
    font-size:50px;
    
    
}
.education
{
   color:rgb(246, 196, 152);
   font-size: 70px;
}